# set the udev rule , make the device_port be fixed by ESP32S NodeMCU
# Don't plug-in other board
KERNEL=="ttyUSB*", ATTRS{idProduct}=="ea60", ATTRS{idVendor}=="10c4", MODE:="0777", SYMLINK+="esp32Nodemcu"
